
.rescon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 350px;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    /* margin-bottom: 100px; */
    /* background-color:black; */
    margin-left: 150px;
    margin-bottom: 60px;
}
.navbar{
    margin-bottom: 130px;
    width: 1300px;
}