
.topcon{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}
.rescon{
    display: flex;
    justify-content: center;
    align-items: center;
    width:800px;
    height: 200px;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    /* margin-bottom: 100px; */
    /* background-color:black; */
    /* margin-left: 150px; */
    /* margin-bottom: 60px; */
}
.rescard{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.modify{
    font-size: 20px;
    margin: 15px;
}
.navbar{
    margin-bottom:30px;
    width: 1300px;
}
.card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 100px; */
}
.cardin{

    display:flex;
    width: 260px;
    background-color: white;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);

    
}
.img{
    object-fit: contain;
}